
.col_1{width: 100%;}
.col_1_2{width:50%;}
.col_1_4{width: 25%;}
.col_1_3{width: 33.33%;}
.col_2_3{width: 66.66%}
.col_1_6{width: 16.667%;}
.col_1_12{width: 8.33%; min-height: 1px;}

.wrapper{
  width: 100%;
  position: relative;
}

.navigation {
  display: flex;
  line-height: 20px;
  font-size: 15px;
  margin: 20px 0 25px;

  a {
    text-decoration: none;
    color: #000000;
  }
  a:hover {
    text-decoration: underline;
  }
}

.home {
  display: block;
  padding: 14px 0 0 0;
  min-width: 17px;
}

.arrow {
  margin: 13px 10px 0 10px;
  min-width: 6px;
}
.article {
  padding: 17px 0 0 0;
}

.bezopasnost {
  padding: 17px 0 0 0;
  margin: 0 0 0 -1px;
}

.art-h {
  font-weight: 500;  font-size: 24px;
  color: #9d0817;

  margin: -7px 0 0 0;
}

.date-wrap {
  color: #919191;
  font-size: 14px;
  padding: 33px 0 0;
}

.date-time {
display: flex;
}
.time {
  padding: 0 0 0 8px;
}

.article-picture {
 float: left;
  margin: 0 31px 10px 0px;
}
.pic-text {
  padding: 10px 0 0;
}

.article-text {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  margin: -11px 0 0 0;
}

.article-pod-text {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  margin: 22px 0 0 0;
}

.spisok-text {
  width: 244px;
  font-weight: 500;  font-size: 15.99px;
  color: #9d0817;
  float: right;
  background-image: url("../images/article-arrow-red.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 6px;
}
.spisok-text:hover {
  width: 244px;
  font-weight: 500;  font-size: 15.99px;
  color: #770e19;
  float: right;
  background-image: url("../images/podrobno-arrow-a.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 6px;
}

.spisok>ul>li:first-child {
  margin: 0 0 0 0;
}

.about-us {
  font-weight: 500;  font-size: 24px;
  text-align: center;
  padding: 14px 5px 37px 0;
}

.about-picture{
  float: left;
  margin: 0 31px 10px 0px;
}

.about-text {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  margin: -10px 0 0 0;
}

.about-pod-text {
  height: 335px;
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  margin: 9px 0 0 0;
}

.zagolovok {
  padding: 14px 5px 4px 0;
  font-weight: 500;  font-size: 24px;
  color: #000000;
  text-align: center;
}

.vse-otzuvu {
  text-align: center;
}

.otziv-row {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
}

.otziv-all {
  border-top: 2px solid #e8e8e8;
  margin: 5px auto;
  padding: 52px 0 35px;
}

.otziv-data {
  font-weight: 500;  font-size: 18px;
  color: #9d0817;
  margin: -18px 0px 18px 0px;
}

.otziv-name {
  font-weight: 500;  font-size: 18px;
  color: #9d0817;
  margin: 5px 0 5px 0px;
}

.otziv-town {
  font-weight: 500;  font-size: 14px;
  color: #404041;
  margin: 0 0 0 0px;
}
.otziv-text {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  padding: 8px 0 0 4px;
  text-align: left;
}

.otziv-all:first-child {
  border-top: none;
}
.otziv-form {
  text-align: center;
  padding-bottom: 53px;
}

.articles {
  text-align: center;
  font-size: 24px;
  color: #000000;
  font-weight: 500;  padding: 14px 20px 10px 15px;
}

.articles-all {
  padding: 33px 0 64px;
  border-bottom: 2px solid #e8e8e8;
}



.articles-header {
  font-weight: 500;  font-size: 18px;
  padding: 0 0 28px 0;
  a {
    color: #9d0817;
  }
  a:hover {
    text-decoration: none;
    color: #770e19;
  }
}

.articles-pic {
  min-width: 263px;
  margin: 0 29px 8px 0;

}

.articles-data {
  color: #919191;
  font-size: 14px;
  float: left;
  margin: 0px 8px 0 -1px;
}

.articles-time {
  color: #919191;
  font-size: 14px;
  margin: 0px 0px 0 0px;
}

.articles-row {
  display: flex;
}

.articles-text {
  font-size: 16px;
  color: #000000;
  line-height: 30px;
  padding: 0px 0 0 0px;
  text-align: left;
  margin: -11px 0 0 0px;
}

.articles-pod-text {
  font-weight: 500;  font-size: 15.99px;
  color: #9d0817;
  float: right;
  background-image: url("../images/article-arrow-red.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 6px;
  width: 95px;
  margin: 11px 0 0 0;
}
.articles-pod-text:hover {
  font-weight: 500;  font-size: 15.99px;
  color: #770e19;
  float: right;
  background-image: url("../images/podrobno-arrow-a.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 6px;
  width: 95px;
  margin: 11px 0 0 0;
}

.articles-form {
  text-align: center;
}

.yslygi-head {
  text-align: center;
  font-weight: 500;  color: #000000;
  font-size: 24px;
  padding: 13px 0 42px;
  h3{    margin: 0;}
}
.manager {
  text-align: center;
}
.rows {
  margin: 28px auto 8px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.cols {
  font-weight: 500;  font-size: 18px;
  color: #000000;
  width: 555px;
  height: 120px;
  line-height: 24px;
  box-shadow: 0 0 10px #9d0817;
  display: inline-block;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.cols:hover {
  color: #FFFFFF;
  cursor: pointer;
  box-shadow: none;
  background-color: #9d0817;
  width: 555px;
  height: 120px;
}

.yslygi-zagolovok {

  font-weight: 700;  font-size: 18px;
  color: #9d0817;
  text-align: left;
  text-transform: uppercase;
}
.coll {
  width: 555px;
  text-align: left;
  padding: 20px 0px 10px 0px;
  color: #000000;
  font-size: 16px;
  line-height: 30px;
}

.call-popup{
  width: 500px;
}