section.map{  font-weight: 500;  font-size: 18px; color: #000;  padding-bottom: 150px;
  .mbox{max-width: 1184px;padding: 0 20px;}
  .map-wrapper{}
  #google-map{height: 573px; width: 100%;}
  .rower{    display: flex;    justify-content: space-between;    align-items: center;    padding-bottom: 31px; flex-wrap: wrap;}
  .item{    display: flex;    justify-content: flex-start;    align-items: center;
    &.tel{      font-size: 24px;}
    &.ggg{      width: 260px;}
    img{      margin-right: 20px;}
  }
}
section.slider{
  .mbox{max-width: 1184px;padding: 0 20px;}
  .wraper-it{padding: 0 20px;
    a{
      position: relative;
      img{transition:opacity 300ms;}
      .raz{opacity: 0;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;}
      .dva{        opacity: 1;}
      &:hover{
        .raz{opacity: 1;}
        .dva{        opacity: 0;}
      }
    }
  }
  .slick-initialized .slick-slide{ display: flex;}
  .slick-dots{    bottom: -17px;}
  .slick-dots li button{width: 7px; height: 7px; }
  .slick-dots li button:before{ background-color: #939598; width: 7px; height: 7px; border-radius: 50%;content:''; opacity: 1;}
  .slick-dots li button:hover:before{ background-color: #f47920;}
  .slick-dots li.slick-active button:before{ background-color: #f47920;}
  .slick-dots li{ width: 7px; height: 7px;}


}
.title{  width: 100%;  text-align: center;  padding: 14px 0 33px;
  h3{    margin: 0;    font-size: 24px;    font-weight: 500;    color: #000;}
}