#show_more {
  width: 195px;
  height: 42px;
  border: 2px solid #9d0817;
  text-align: center;
  color: #9d0817;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: transparent;
  margin: 21px 26px 135px 0;
}
#show_more:hover {
  width: 195px;
  height: 42px;
  border: 2px solid #9d0817;
  text-align: center;
  color: #FFFFFF;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: #9d0817;
  margin: 21px 26px 135px 0;
}
#show_more:active {
  width: 195px;
  height: 42px;
  border: 2px solid #770e19;
  text-align: center;
  color: #ffffff;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: #770e19;
  margin: 21px 26px 135px 0;
}



#add_otz {
  width: 195px;
  height: 42px;
  border: 2px solid #9d0817;
  text-align: center;
  color: #9d0817;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: transparent;
}
#add_otz:hover {
  width: 195px;
  height: 42px;
  border: 2px solid #9d0817;
  text-align: center;
  color: #ffffff;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: #9d0817;
}
#add_otz:active {
  width: 195px;
  height: 42px;
  border: 2px solid #770e19;
  text-align: center;
  color: #ffffff;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: #770e19;
}

#bezopasnost {
  width: 555px;
  height: 120px;
  background-color: transparent;
  font-family: 'DINProMedium';
  font-size: 18px;
}




#show_more_articles {
  width: 195px;
  height: 42px;
  border: 2px solid #9d0817;
  text-align: center;
  color: #9d0817;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: transparent;
  margin: 21px 0 133px 2px;
}

#show_more_articles:hover {
  width: 195px;
  height: 42px;
  border: 2px solid #9d0817;
  text-align: center;
  color: #ffffff;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: #9d0817;
  margin: 21px 0 133px 2px;
}

#show_more_articles:active {
  width: 195px;
  height: 42px;
  border: 2px solid #770e19;
  text-align: center;
  color: #ffffff;
  font-family: 'DINProBold';
  font-size: 16px;
  background-color: #770e19;
  margin: 21px 0 133px 2px;
}
