@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1177px){
  .otziv {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media screen and (max-width: 1145px){
  .service-row {flex-wrap: wrap;}
  .service-col {width: 400px;}
}

@media screen and (max-width: 1065px){
  .rower { justify-content: flex-start;}
}

@media screen and (max-width: 1024px){

}

@media screen and (max-width: 977px){
  .bot-row {flex-wrap: wrap;
  justify-content: flex-start;}
  .phone-mail {flex-wrap: wrap; }
  .mail-bot {
    img {padding: 0 8px 5px 0;}
  }
}

@media screen and (max-width: 940px){
  .bot-col-4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .voprosu { padding: 0 10px 0 0;}
    .perezvonim {padding-right: 10px;
          margin: 0 0 0 0;}
  }
}


@media screen and (max-width: 775px){
  .mail {white-space: nowrap;}
  .phone {white-space: nowrap;}
  .mail_phone {flex-wrap:wrap;}
  .red-row-text {flex-wrap:wrap;
    .top-item {width: 100%;
      justify-content: flex-start;}
    align-items: stretch;}
  .medals-item {
    width: 50%;
  }
  .bot-col-3 {
    padding: 10px 0;
  }
  .bot-button {margin: 10px 0;}
}
@media screen and (max-width: 767px){
  .devka {display: none; }
  .form-name {width: 135%;}
  .form-phone {width: 135%;}
  .zapolnite {width: 135%;}
}

@media screen and (max-width: 700px){
  .pic-text {
    display: flex;
    flex-direction: column;}
  .article-picture{padding-bottom: 25px;}
}

@media screen and (max-width: 666px){
  .articles-row {flex-direction: column;
    .articles-text {margin-top: 15px;}}
  .medals-item {
    width: 100%;
  }
  .medal-2-img{ margin-top: 15px;}
}



@media screen and (max-width: 637px){
 .bot-col-4 {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   align-items: center;
   flex-wrap:wrap; justify-content:flex-start;

 }
}

@media screen and (max-width: 610px){
  .cols {width: 340px;}
  .coll-hide {width: 340px;}
  .coll {width: 340px;}
  .cols:hover {width: 340px;}
}


@media screen and (max-width: 531px){
  .otziv-row {flex-wrap: wrap;
  justify-content: center;}
  .otz-arrow {display: none;}
 .bot-button {
   margin: 15px 0;
 }
  .voprosu {display: inline-block;}
}

@media screen and (max-width: 479px){

}
@media screen and (max-width: 410px){
.menu-item {width: 100%;
  justify-content: space-between;
flex-direction: column;}
}


@media screen and (max-width: 345px){

}
@media screen and (max-width: 320px){
  .menu {flex-wrap:wrap;
    align-content: center;}
  .logo {align-self: center;}
  .menu-item {width: 100%;
    justify-content: flex-start;}
}