<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="bot-wrapper">
        <div class="wrapper bot">
                <div class="bot-row">
                    <div class="bot-col-1 bot-item">
                        <div class="logo-bot"><img src="images/logo-bot.png" alt="logo"></div>
                    </div>
                    <div class="bot-col-2 bot-item">
                        <div class="dostavo4ka" style="float: left">
                            <a href="#" class="dostavka">Главная</a>
                            <a href="#" class="dostavka">О компании</a>
                            <a href="#" class="dostavka">Услуги</a>
                        </div>
                        <div class="dostavo4ka">
                            <a href="#" class="dostavka">Отзывы</a>
                            <a href="#" class="dostavka">Статьи</a>
                            <a href="#" class="dostavka">Контакты</a>
                        </div>
                    </div>
                    <div class="bot-col-3 bot-item">
                        <div class="phone-mail">
                            <div class="phone-bot"><img src="images/phone.png" alt="phone">+7 (812) 924-85-95</div>
                            <div class="mail-bot"><img src="images/mail.png" alt="mail">info@avis.group</div>
                        </div>
                        <div class="adres-bot"><img src="images/arrow.png" alt="place">192102, г. Санкт-Петербург, ул. Фучика, д.8, оф.315</div>
                    </div>
                    <div class="bot-col-4 bot-item">
                        <div class="voprosu">Остались вопросы?</div>
                        <div class="perezvonim">Мы Вам перезвоним!</div>
                        <a href=""><span class="bot-button">Заказать звонок</span></a>
                    </div>
                </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->
<script type="text/javascript">
    var cordX= 59.882057;
    var cordY= 30.376650;
    var googleText ="г. Санкт-Петербург, ул. Фучика, д.8";
</script>
<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
<!-- build:js -->f
<script type="text/javascript" src="js/plagins/device.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.fancybox.pack.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.formstyler.min.js" ></script>
<script type="text/javascript" src="js/plagins/jquery.validate.min.js" ></script>
<script type="text/javascript" src="js/plagins/maskInput.js" ></script>
<script type="text/javascript" src="js/plagins/slick.js" ></script>

<script type="text/javascript" src="js/basic_scripts.js" ></script>
<script type="text/javascript" src="js/develop/develop_1.js" ></script>
<script type="text/javascript" src="js/develop/develop_2.js" ></script>
<script type="text/javascript" src="js/develop/develop_4.js" ></script>
<script type="text/javascript" src="js/develop/develop_5.js" ></script>
<script type="text/javascript" src="js/develop/develop_6.js" ></script>
<!-- endbuild -->

<!-- /SCRIPTS -->
