<!-- HEADER -->
<header>
    <div class="red-row col_1">
        <div class="red-row-text wrapper">
            <div class="col_1_2 top-item">
                <div class="adres"><img src="images/arrow.png" alt="place">192102, г. Санкт-Петербург, ул. Фучика, д.8, оф.315</div>
            </div>
            <div class="mail_phone col_1_2 top-item">
                <a href="mailto:info@avis.group" class="mail"><img src="images/mail.png" alt="mail">info@avis.group</a>
                <a href="tel:78129248595" class="phone"><img src="images/phone.png" alt="phone">+7 (812) 924-85-95</a>
            </div>
        </div>

    </div>

    <div class="menu wrapper">
        <div class="logo col_1_3 menu-item"><a href="index.html"><img src="images/logo.png" alt="logo"></a></div>
        <!--<div class="menu-text col_2_3 menu-item">-->
            <!--<div><a href="index.html" class="menu-a">Главная</a></div>-->
            <!--<div><a href="about.html" class="menu-a">О компании</a></div>-->
            <!--<div><a href="yslygi.html" class="menu-a">Услуги</a></div>-->
            <!--<div><a href="otziv.html" class="menu-a">Отзывы</a></div>-->
            <!--<div><a href="articles.html" class="menu-a">Статьи</a></div>-->
            <!--<div><a href="map.html" class="menu-a">Контакты</a></div>-->
        <!--</div>-->
        <div class="menu-text col_2_3 menu-item">
            <ul class="menue">
                <li><a href="index.html">Главная</a></li>
                <li><a href="about.html">О компании</a></li>
                <li><a href="yslygi.html">Услуги</a></li>
                <li><a href="otziv.html">Отзывы</a></li>
                <li><a href="articles.html">Статьи</a></li>
                <li><a href="map.html">Контакты</a></li>
            </ul>
        </div>
    </div>

    <div class="picture-place">
        <div class="picture-text">
            <div class="picture-text-row1">Средства, вложенные в безопасность –</div>
            <div class="picture-text-row2">это инвестиции, а не расходы</div>
        </div>
    </div>




</header>
<!-- /HEADER -->

