<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="call-popup">
        <form action="ajax-programer.php" name="" id="form-pop" class="contact-form form-zakaz">
            <div class="ostalis">Заказать обратный звонок</div>
            <div class="zapolnite">Заполните поля ниже и мы свяжемся с Вами
                <span>в ближайшее время</span>
            </div>

            <div class="form-row ic-name">
                <input type="text" name="contact_name" required="required" placeholder="Имя">
            </div>
            <div class="form-row ic-phone">
                <input type="text"  class="tel-mask" name="contact_tel" required="required" placeholder="Телефон">
            </div>
            <div class="form-row">
                <button class="send">оправить заявку</button>
            </div>
        </form>
    </div>
    <div id="call-popup2">
        <form action="ajax.php" name="" id="form-pop2" class="contact-form form-zakaz">
            <div class="ostalis">добавить отзыв</div>
            <div class="zapolnite">Заполните поля ниже чтобы для добавления отзыва </div>

            <div class="form-row ic-name">
                <input type="text"  name="contact_name" required="required" placeholder="Имя">
            </div>
            <div class="form-row ic-city">
                <input type="text" name="contact_city" required="required" placeholder="Город">
            </div>
            <div class="form-row ic-none">
                <textarea type="text"  name="contact_text" required="required" placeholder="Ваш комментарий..."></textarea>
            </div>
            <div class="form-row">
                <button class="send">отправить отзыв</button>
            </div>
        </form>
    </div>

</div>