<div class="mbox">
    <div class="wrapper">
        <div class="zagolovok">
            Отзывы
        </div>
    </div>
    <div class="vse-otzuvu">
        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>

        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>

        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>

        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>

        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>

        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>


        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>


        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>


        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>



        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>



        <div class="otziv-all wrapper">
            <div class="otziv-row">
                <div class="otziv-col">
                    <div class="otziv-data">26.12.16</div>
                    <div class="otziv-pic" style="min-width: 140px;"><img src="images/avataro4ka.png" alt="user"></div>
                    <div class="otziv-name">Юлия</div>
                    <div class="otziv-town">г. Москва</div>
                </div>
                <div class="otziv-col otz-arrow" style="min-width: 50px;text-align: center;padding: 79px 0 0 0px;"><img src="images/otziv-arrow.png" alt=""></div>
                <div class="otziv-col otziv-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.. aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui
                </div>
            </div>
        </div>



    </div>

    <div class="otziv-form wrapper">
        <div class="row">

            <a href="#" class="add_otz show_more" >ПОКАЗАТЬ ЕЩЕ</a>
            <a href="#call-popup2" class="fancy-shnjaga add_otz" >ДОБАВИТЬ ОТЗЫВ</a>
        </div>

    </div>
</div>
