
<section class="slider" >
    <div class="mbox">
        <div class="slider-wraper">
            <div class="clients wrapper">
                Наши <span>клиенты</span>
            </div>
            <div id="slider">
                <div class="logos wrapper" >
                    <a href="#"><img src="images/megafon.png" alt="megafon"></a>
                    <a href="#"><img src="images/stockman.png" alt="stockman"></a>
                    <a href="#"><img src="images/timepad.png" alt="timepad"></a>
                    <a href="#"><img src="images/olympus.png" alt="olympus"></a>
                    <a href="#"><img src="images/sberbank.png" alt="sberbank"></a>
                    <a href="#"><img src="images/visa.png" alt="visa"></a>

                </div>
                <div class="logos wrapper" >
                    <a href="#"><img src="images/megafon.png" alt="megafon"></a>
                    <a href="#"><img src="images/stockman.png" alt="stockman"></a>
                    <a href="#"><img src="images/timepad.png" alt="timepad"></a>
                    <a href="#"><img src="images/olympus.png" alt="olympus"></a>
                    <a href="#"><img src="images/sberbank.png" alt="sberbank"></a>
                    <a href="#"><img src="images/visa.png" alt="visa"></a>

                </div>
                <div class="logos wrapper" >
                    <a href="#"><img src="images/megafon.png" alt="megafon"></a>
                    <a href="#"><img src="images/stockman.png" alt="stockman"></a>
                    <a href="#"><img src="images/timepad.png" alt="timepad"></a>
                    <a href="#"><img src="images/olympus.png" alt="olympus"></a>
                    <a href="#"><img src="images/sberbank.png" alt="sberbank"></a>
                    <a href="#"><img src="images/visa.png" alt="visa"></a>

                </div>
                <div class="logos wrapper" >
                    <a href="#"><img src="images/megafon.png" alt="megafon"></a>
                    <a href="#"><img src="images/stockman.png" alt="stockman"></a>
                    <a href="#"><img src="images/timepad.png" alt="timepad"></a>
                    <a href="#"><img src="images/olympus.png" alt="olympus"></a>
                    <a href="#"><img src="images/sberbank.png" alt="sberbank"></a>
                    <a href="#"><img src="images/visa.png" alt="visa"></a>

                </div>
            </div>

        </div>
    </div>
</section>